@page "/"

<PageTitle>Index</PageTitle>

<!-- Start: Hero Parallax -->
<header class="bg-dark pt-5">
    <!-- Start: Hero Clean Reverse -->
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">Voted #1 Worldwide</p>
                    <h1 class="fw-bold">Con-Finder</h1>
                    <h1 class="fs-3 fw-normal">Coming soon...</h1>
                </div>
            </div>
        </div>
    </div><!-- End: Hero Clean Reverse -->
</header><!-- End: Hero Parallax -->